#cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
}

#divTitulo{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

#imagemTitulo{
    width: 60px;
}

#botoesCabecalho{
    width: 70px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
    transition: 0.3s ease-in-out  ;
    cursor: pointer;
}

#botoesCabecalho:hover{
    background-color: white;
    color: black;
}

#corpoTestes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#primeiroTeste{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#divNome{
    height: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

#divIdade{
    height: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#botaoTeste{
    width: 70px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
    transition: 0.3s ease-in-out  ;
    cursor: pointer;
}

#botaoTeste:hover{
    background-color: white;
    color: black;
}

#divResultado{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

#rodaPe{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom:0%;
    width: 100%;
    background-color: rgb(255, 230, 128);
    color: black;
}